body{
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/b/19/demon-slayer-kimetsu-no-yaiba-fon-paren-maska.jpg");
}

.logo{
  width: 100px;
  height: 150px;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.8;
}

header{
  display: flex;
  justify-content: flex-start;
  /* position: fixed; */
  background-color: cyan;
  top: 0%;
  width: 100%;
  background-image: url("https://31.media.tumblr.com/81ddca23543ae3f34ddcc2d64296765f/tumblr_msbx6yKrDA1ril7tio1_250.gif");
  border: 5px solid #233a3d;
}


/* original search bar inspiration from https://www.mockplus.com/blog/post/search-bar-design */
#navigation{
  display: flex;
  position: fixed;
  background-color: cyan;
  /* margin-top: 50px; */
  /* margin-bottom: 20px; */
  width: 100%;
}

#search{
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#9DBFAF
}

/* will change the color of the input field */
#search:focus{
  color: #00b4cc;
}

#filter{
  width: 85px;
  height:35px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#button{
  width: 80px;
  height:36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

form{
  display: flex;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-99%, 10%);
}

.airing{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.recommended{
  display: flex;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  margin: 0px 100px 50px 100px;
  /* background-color: black; */
  border: 5px solid #00B4CC;
  height: 390px;
  background: rgba(1, 1, 1, 0.71);
}

.preview-result{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 35px;
}

.result{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: nowrap;
  
}

.search-result{
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
 margin-top: 20px;
 background: rgba(204, 196, 196, 0.71);
 margin: 0px 100px 50px 100px;
 padding-top: 50px;
 border-radius: 20px 20px 20px 20px;
 border: 5px solid #00B4CC;
}


.title-result{
  display: flex;
  flex-direction: column;
}

@media (min-device-width: 375px){
  
  .recommended {
    margin: 0px 30px 50px 30px;
  }

  .search-result{
    margin: 0px 30px 50px 30px;
  }

  #search{
    width: 150px;
  }

  .logo{
    width: 75px;
  height: 100px;
  }
}